server:
  port: 9002

spring:
  application:
    name: finance-service
  datasource:
    url: ${DB_URL_FINANCE}
    username: ${DB_USERNAME}
    password: ${DB_USERNAME}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

# Eureka Service Discovery
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# Feign Client Configuration
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

# Resilience4j Circuit Breaker
resilience4j:
  circuitbreaker:
    instances:
      aiService:
        register-health-indicator: true
        sliding-window-size: 10
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        wait-duration-in-open-state: 10s
        failure-rate-threshold: 50

logging:
  level:
    com.smatech.finance.finance: DEBUG
    org.hibernate.SQL: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    filter: true
  show-actuator: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json